@font-face {
	font-family: TiroGurmukhi-Italic;
	src: url(fonts/TiroGurmukhi-Italic.ttf);
}

@font-face {
	font-family: TiroGurmukhi;
	src: url(fonts/TiroGurmukhi-Regular.ttf);
}

#root {
	height: 100vh;
	overflow: hidden;
}